/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenshotWrapper {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.screenshot {
  max-width: 900px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 996px) {
  .screenshot {
    max-width: 100%;
  }
}
